{% extends 'base.html' %}

{% block content %}
{%if not(results[0]['preferred_common_name'])%}
<h1><span><i>{{results[0]['name']}}</i>
    </span></h1>
{%else%}

<h1>{{results[0]['preferred_common_name']|title}}

</h1><span class="Lead">

    <i>&nbsp{{results[0]['name']}}</i></span>


{%endif%}
{% if session['user_id'] %}
{%if results[0]['rank']== "species"%}


<form method="POST">
    <a href="/{{session['user_id']}}/save/{{results[0]['id']}}" class="btn btn-info">Save
        to Nature Journal</a>
</form>
{%endif%}
{% else %}
<a href="/login" class="btn btn-info"> Login to Save
</a>
{%endif%}




<h3>Description</h3>
{%if results[0]['wikipedia_summary']%}
{%if (results[0]['wikipedia_summary']).endswith('...')%}
<p>{{results[0]['wikipedia_summary']|safe}} <a class="text-sm" href="{{results[0]['wikipedia_url']}}">Read more</a></p>

{% else %}
<p>{{results[0]['wikipedia_summary']|safe}}</p>
{%endif%}
{%else%}
<p>Sorry, no discription available!</p>
{%endif%}

<div class="row m-3 d-flex justify-content-evenly">

    {%if results[0]['taxon_photos'][1] %}
    <div class="col">
        <img src="{{results[0]['taxon_photos'][1]['photo']['medium_url']}}" class="detials-img  img-thumbnail" alt="">
    </div>
    {%endif%}
    {%if results[0]['taxon_photos'][2] %}
    <div class="col">
        <img src="{{results[0]['taxon_photos'][2]['photo']['medium_url']}}" class="detials-img  img-thumbnail" alt="">
    </div>
    {%endif%}
</div>



{%if results[0]['rank']== "species"%}

<h3>Conservation Status:</h3>
{%if not(results[0]['conservation_statuses']) %}
<p>No conservation status available</p>
{%elif results[0]['conservation_statuses'][0]['status'] == 'VU' %}
<p class="lead text-warning">Vulnerable</p>
{%elif results[0]['conservation_statuses'][0]['status'] == 'LC'%}
<p class="lead text-success">Least Concern</p>
{%elif results[0]['conservation_statuses'][0]['status'] == 'NT' %}
<p class="lead text-warning">Near Threatened</p>
{%elif results[0]['conservation_statuses'][0]['status'] == 'EN'%}
<p class="lead text-danger">Endangered</p>
{%elif results[0]['conservation_statuses'][0]['status'] == 'CR' %}
<p class="lead text-danger">Critically Endanged</p>
{%else%}
<p>No conservation status available</p>
{%endif%}

<h3>Similar Species <button data-toggle="collapse" class="btn btn-info" id="similar">
        View Similar Species <i class="fas fa-chevron-down"></i></h3>

</button>
<div class="loading-sim text-center  hidden">
    <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="hidden_similar" class="row justify-content-center d-flex justify-content-evenly">

</div>
{%endif%}


<h3>Classfications <button data-toggle="collapse" class="btn btn-info" id="classifybutton">
        View Classfications <i class="fas fa-chevron-down"></i></h3>

</button>
<div class="loading-class text-center  hidden">
    <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row justify-content-center" id="classifications">

</div>




{% endblock %}