{% extends 'base.html' %}

{% block content %}
{%if not(results[0]['preferred_common_name'])%}
<h1><i>{{results[0]['name']}}</i></h1>
{%else%}
<h1>{{results[0]['preferred_common_name']|title}}</h1><i>{{results[0]['name']}}</i>
{%endif%}
{% if session['user_id'] %}
{%if results[0]['rank']== "species"%}
<form method="POST">
    <a href="/{{session['user_id']}}/save/{{results[0]['id']}}" type="button" class="btn btn-info">Save
        to Nature Journal</a>
</form>
{%endif%}
{% else %}
<a href="/login" type="button" class="btn btn-info"> Login to Save
</a>
{%endif%}




<h3>Description</h3>
<p>{{results[0]['wikipedia_summary']|safe}}</p>


<div class="row m-3 d-flex justify-content-evenly">

    {%if results[0]['taxon_photos'][1] %}
    <div class="col">
        <img src="{{results[0]['taxon_photos'][1]['photo']['medium_url']}}" class="detials-img  img-thumbnail" alt="">
    </div>
    {%endif%}
    {%if results[0]['taxon_photos'][2] %}
    <div class="col">
        <img src="{{results[0]['taxon_photos'][2]['photo']['medium_url']}}" class="detials-img  img-thumbnail" alt="">
    </div>
    {%endif%}
</div>



{%if results[0]['rank']== "species"%}
<!-- <p>Times observed:{{results[0]['observations_count']}}</p> -->
<h3>Conservation Status:</h3>
{%if not(results[0]['conservation_status'])%}

<p>No conservation status available</p>

{%elif results[0]['conservation_status']['status'] == 'VU' %}
<p class="text-warning">Vulnerable</p>
{%elif results[0]['conservation_status']['status'] == 'LC'%}
<p class="text-success">Least Concern</p>
{%elif results[0]['conservation_status']['status'] == 'NT' %}
<p class="text-warning">Near Threatened</p>
{%elif results[0]['conservation_status']['status'] == 'EN'%}
<p class="text-danger">Endangered</p>
{%elif results[0]['conservation_status']['status'] == 'CR' %}
<p class="text-danger">Critically Endanged</p>
{%endif%}

<h3>Similar Species <button data-toggle="collapse" class="btn btn-info" id="similar">
        View Similar Species <i class="fas fa-chevron-down"></i></h3>

</button>

<div id="hidden_similar" class="row d-flex justify-content-evenly">

</div>
{%endif%}


<h3>Classfications <button data-toggle="collapse" class="btn btn-info" id="classifybutton">
        View Classfications <i class="fas fa-chevron-down"></i></h3>

</button>
<div class="loading text-center  hidden">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" id="classifications">

</div>




{% endblock %}